body {
    background: rgb(214, 152, 152);
}

#highscoreslist {
    background-color: rgb(128, 54, 54);
    color: white;
}

#toprow {
    background-color: rgb(128, 54, 54);
    padding: 12px;
    color: white;
}

#title {
    padding: 25px 0px 15px 0px;
}

#rightorwrong {
    font-style: italic;
    color: rgb(128, 54, 54);
}

#highscores {
    padding: 25px 0px 15px 0px;
}
